<%- include('partials/header'); -%>

<form>
  <h2>Sign up</h2>
  <label for="email">Email</label>
  <input type="text" id="user-email" autocomplete="additional-name" name="email"  />
  <div class="email-error error"></div>
  <label for="password">Password</label>
  <input type="password" id="user-password" autocomplete="additional-name" name="password"  />
  <div class="password-error error"></div>
  <button type="button" class="btn-sign">Sign up</button>
</form>


<script>
   const btn = document.querySelector(".btn-sign")
  
  btn.addEventListener("click",async(e)=>{
    const email  = document.querySelector("#user-email").value.trim()
   const password = document.querySelector("#user-password").value.trim()
      e.preventDefault()
      try {
        const res =await fetch("/signup",{
          
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({email,password})
      
      })
      const data = await res.json()
      console.log(data)
      if(data.errors){
        document.querySelector('.email-error').textContent=data.errors.email
        document.querySelector('.password-error').textContent=data.errors.password
      }

      } catch (error) {
        return error
      }
  })

</script>
<%- include('partials/footer'); -%>
